<template name="informacion">
	<div class="container-fluid color_principal">
		<h1 class="center">Información</h1>

		<section id="informacion" class="container ">

		<div class="row" id="accomodation">
		
		
	<p class="intro">La boda tendrá lugar en el pueblo de Istán, en las afueras de Marbella (Málaga). Dado que la mayoría de los eventos tendrán lugar en la zona, hemos reservado habitaciones con tarifas especiales para los invitados en unos cuantos hoteles de Marbella. Las tarifas que os detallamos debajo son válidas hasta el 31 de diciembre de 2013, así que os recomendamos que reservéis antes de esa fecha (más tarde no os podremos garantizar que la tarifa será la misma). Al llamar para hacer la reserva mencionad que es para la boda de Shilpa &amp; Eguiar. </p>
			<p> Los hoteles que os sugerimos a continuación, son sólo eso, sugerencias. Tenéis total libertad para quedaros donde queráis, sobre todo si encontráis mejores precios o nos os apetece quedaros en Marbella. Málaga, Mijas y otras localidades están relativamente cerca de Marbella, pero el transporte no es barato. Una vez hagáis vuestra reserva, por favor decidle a Shilpa, Eguiar o a sus padres dónde os quedaréis.
			</p>
			<div class="featurette-divider"></div>
			
			<div class="hotel">
				
				
				<div><img class="subtitulo" src="img/subtitulos/puente-romano.png"></div>
				<p>Puente Romano es el hotel hermano de Marbella Beach Club,  pero mucho más económico. Aún así es uno de los mejores hoteles de la Costa del Sol. Puente Romano está al lado del agua y tiene su propia playa, piscina y pistas de tenis.
</p>

				<p>Web: <a target="_blank" rel="external" href="http://www.puenteromano.com/default-en.html">http://www.puenteromano.com/default-en.html</a></p>
				<p>Reservas a: Irene Infantes or Eugenia Barroso</p>
				<p>Correo: infantes@puenteromano.com o barroso@puenteromano.com </p>
				<p>Teléfono: +34 952 768 240</p>
				<p>Tarifa especial para habitación doble: €260 por habitación Junior Suite (cortesía del hotel) por noche, con desayuno incluido (no incluye el 10% de IVA)</p>
			
		</div>
		
		<div class="hotel">
				
				
				<div><img class="subtitulo" src="img/subtitulos/iberostar-coral.png"></div>
				<p>Renovado en 2010, el hotel Ibersotar Coral Beachted está al lado de Puente Romano y también a pie de playa. Ofrece básicamente todos los servicios de un hotel cinco estrellas pero a un precio más económico. Está a 10 minutos de Puerto Banús y a menos de media hora andando del centro de Marbella.</p>

				
					<p>Web:<a target="_blank" rel="external" href="http://www.iberostar.com/en/hotels/malaga/iberostar-marbella-coral-beach">marbella-coral-beach</a></p>
					<p>Reservas a: Pepe Fernández</p>
					<p>Correo: mabrec@iberostar.com</p>
					<p>Teléfono: + 34 952 824 500</p>
					<p>Tarifa especial para habitación doble: €130 por habitación por noche (incluye desayuno y 10% de IVA)
</p>
			
		</div>
		
		
		<div class="hotel">
				
				
				<div><img class="subtitulo" src="img/alanda-hotel.png"></div>
				<p>Alanda Hotel Marbella está justo enfrente de Puente Romano y muy cerca del Iberostar Coral Beach, pero sus precios son bastante más económicos ya que no tiene acceso directo a la playa. No obstante, está a sólo 5 minutos del agua y también tiene piscina.
</p> 

					<p>Web: <a target="_blank" rel="external" href="http://www.alandahotelmarbella.com/">http://www.alandahotelmarbella.com</a></p>
					<p>Reservas a: Rafael Olmos</p>
					<p>Correo: reservations@alandahotelmarbella.com</p>
					<p>Teléfono: +34 952 899 600</p>
					<p>Tarifa especial para habitación doble: €85 por habitación por noche, desayuno incluido (no incluye 10%  de IVA)
</p>



				
			
		</div>
		
		<div class="hotel">
				
				
				<div><img class="subtitulo" src="img/subtitulos/nh-marbella.png"></div>
				<p>El NH Marbella queda sólo a 5 minutos andando de Puente Romano y el NH Alanda y también está muy cerca de la playa y del centro y de la zona comercial de Marbella. Los servicios son similares al NH Alanda, aunque no tiene Spa.</p>

				<p>Web: <a target="_blank" rel="external" href="http://www.nh-hoteles.es/nh/es/hoteles/espana/marbella/nh-marbella.html?nhagentid=11009&amp;nhsubagentid=110095220109&amp;utm_source=google&amp;utm_medium=maps&amp;utm_campaign=googleplaces">http://www.nh-hoteles.es/nh/es/</a></p>
				<p>Reservas a: Reservas de Boda</p>
				<p>Correo: nhmarbella@nh-hotels.com</p>
				<p>Teléfono: +34 952 763 200</p>
				<p>Tarifa especial para habitación doble: €75 por habitación por noche, desayuno incluido (no incluye 10% de IVA).</p>

				
			
		</div>
		
		<div class="hotel">
				
				
				<div><img class="subtitulo" src="img/subtitulos/esmeralda.png"></div>
				<p>Para aquellos que vengáis en familia o grupo y tengáis pensado pasar varios días en Marbella os recomendamos quedaros en los apartamentos Coral Beach o en Playa Esmeralda. A tan sólo 15 minutos de Puerto Banús, en Coral Beach tenéis apartamentos de 1 a 4 habitaciones totalmente equipados, con piscina y a pie de playa. Los apartamentos Playa Esmeralda ofrecen los mismos servicios que Coral Beach pero son un poco más modernos.</p> 

						<p>Web: <a target="_blank" rel="external" href="www.coralbeach-marbella.com">www.coralbeach-marbella.com</a></p>
						<p>Correo: reservas@coralbeach-marbella.com</p>
						<p>Teléfono: +34 952 775 000</p>
						<p>Tarifas: </p>
						<p>€175 por apartamentos de 1 habitación</p>
						<p>€ 195 por apartamentos de 2 habitación</p>
						<p>€350 por apartamentos de 3 habitación.</p>
						<p>€495 por villas de 4 habitaciones</p>
						
						<p>(Precios por apartamento, por noche. IVA del 10% no incluido.La tarifa incluye servicio de limpieza diario y cambio de toallas y sábanas cada tres. Puede haber cargos extra por camas adicionales, etc.).</p>
						<p>Como os decíamos, en Marbella y en la zona hay muchísimos hoteles con todo tipo de precios, así que la decisión es vuestra. También nos consta que en AirBnB hay mucha oferta y se pueden conseguir muy buenas casas y baratas si reserváis con antelación. </p>

				
			
		</div>
		
		
	
</div>
</section>
</div>
</template>