<template name="preguntas">
	<div class="container-fluid color_principal">
		
		<h1 class="center">Confirmación</h1>
		

		<form class="form-horizontal color_subprincipal" role="form">
			<h2 class="">Confirma tu asistencia</h2>
			<div class="form-group">
			    <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputNombre" placeholder="Text">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputApellido" class="col-sm-2 control-label">Apellido</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputApellido" placeholder="Text">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
			    </div>
			  </div>

			  <div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    Estoy contando los días para que llegué la boda.
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    Soy un poco desgraciado y no puedo ir.
					  </label>
			</div>
			<div class="enviar">
				<button type="submit" class="btn btn-default btn-lg ">Enviar</button>
			</div>
  		</form>

		<h2 class="center">¡Si has decidido Venir,Molas!</h2>
		<h3 class="center">Contesta a estas tres preguntas para organizar la boda del siglo.</h3>
		<form id="theForm" class="simform" autocomplete="off">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">¿Traes acompañante?</label></span>
								<input id="q1" name="q1" type="text"/>
							</li>
							<li>
								<span><label for="q2">¿Alguna alergía?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
							<li>
								<span><label for="q3">¿Vendrás a pasar unos días antes?</label></span>
								<input id="q3" name="q3" type="text"/>
							</li>
							
						</ol>

						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->



	</div>
</template>