<template name="timeline">

<!--dibujamos una linea con svg-->





<div class="container-fluid color_subprincipal">

<div class="container timeline">
	<h1 class="center font_color_principal">El día de la boda</h1>

	<div id="svgcontainer">
	    <svg width="200" height="2000">
	        <line x1="0" y1="0" x2="0" y2="-2000" />
	    </svg>


	<div class="timeslot">
		<div class="left">
			<div class="titulo">CEREMONIA</div>
		</div>

		<div class="right">
			<span>16:00</span>
			<p class="excerpt">Sobre las 2:30 de la tarde los buses saldrán desde los hoteles mencionados y os llevarán directamente a la Finca Llanos del Almendro, lugar donde tendrá lugar la ceremonia, banquete y fiesta. Os pedimos la máxima puntualidad para no retrasar el comienzo de la ceremonia. La Finca está en Istán en lo alto de una montaña, así que os recomendamos que hagáis uso del servicio de autobús en lugar de ir en coche o taxi.
			</p>
			<p class="texto">
Al llegar a las inmediaciones de la Finca, los invitados tendréis la opción de bajaros en la carretera antes de la entrada y acompañar a Eguiar en una procesión conocida como “Baraat” que es tradicional en algunas partes de India y Pakistán. En el baraat la familia y los amigos del novio lo acompañan con bailes y cánticos hasta el templo mientras este va montado en un elefante o un caballo blanco. Todos estáis invitados a participar, vengáis de la parte de Shilpa o de la de Eguiar, seáis familia, hombre o mujer.
			</p>
		</div>


	</div>


	<div class="timeslot">

		<div class="left">
			<span>18:00</span>
			<p class="excerpt">Justo después de la ceremonia se servirán bebidas y canapés mientras se prepara la mesa para el banquete. Quien desee cambiarse de ropa puede hacerlo en este momento.
			</p>

			<p class="texto">
Al llegar a las inmediaciones de la Finca, los invitados tendréis la opción de bajaros en la carretera antes de la entrada y acompañar a Eguiar en una procesión conocida como “Baraat” que es tradicional en algunas partes de India y Pakistán. En el baraat la familia y los amigos del novio lo acompañan con bailes y cánticos hasta el templo mientras este va montado en un elefante o un caballo blanco. Todos estáis invitados a participar, vengáis de la parte de Shilpa o de la de Eguiar, seáis familia, hombre o mujer.
			</p>

		</div>

		<div class="right">
			<div class="titulo">CÓCTEL</div>
		</div>


	</div>


	<div class="timeslot">
		<div class="left">
			<div class="titulo">LATE RECEPTION</div>
		</div>

		<div class="right">
			<span>19:00</span>
			<p>El banquete comenzará a eso de las 7 de la tarde. El menú es sorpresa, pero habrá opciones para todos los gustos. Si tenéis alguna alergia por favor hacérnoslo saber.
			</p>

			<p class="texto">
Al llegar a las inmediaciones de la Finca, los invitados tendréis la opción de bajaros en la carretera antes de la entrada y acompañar a Eguiar en una procesión conocida como “Baraat” que es tradicional en algunas partes de India y Pakistán. En el baraat la familia y los amigos del novio lo acompañan con bailes y cánticos hasta el templo mientras este va montado en un elefante o un caballo blanco. Todos estáis invitados a participar, vengáis de la parte de Shilpa o de la de Eguiar, seáis familia, hombre o mujer.
			</p>

		</div>


	</div>


	<div class="timeslot">

		<div class="left">
			<span>20:30</span>
			<p>Poco hay que añadir aquí. ¡Aseguraos de calentar las caderas para que no se os desencajen! Tenéis ejemplos de canciones que no faltarán más abajo.
			</p>

			<p class="texto">
Al llegar a las inmediaciones de la Finca, los invitados tendréis la opción de bajaros en la carretera antes de la entrada y acompañar a Eguiar en una procesión conocida como “Baraat” que es tradicional en algunas partes de India y Pakistán. En el baraat la familia y los amigos del novio lo acompañan con bailes y cánticos hasta el templo mientras este va montado en un elefante o un caballo blanco. Todos estáis invitados a participar, vengáis de la parte de Shilpa o de la de Eguiar, seáis familia, hombre o mujer.
			</p>
		</div>

		<div class="right">
			<div class="titulo">FIESTA</div>
		</div>


	</div>
</div>
</div>
</div>
</template>