<template name="bodaslider">
	<section class="slider">
		  <div class="arrow-right fa-7x"></div>
		  <div class="arrow-left fa-7x"></div>
		  <div id="slider-demo">

				  <div class="wrapper">

						    <article title="AfricanChildren">
						      <div class="image-content">
						      	<img src="img/image5.jpg" alt="demo1_2" class="product-image">
						      </div>
							</article>

						    <article title="Indican">
						      <div class="image-content">
						      	<img src="img/image6.jpg"   alt="demo1_2" class="product-image">
						      </div>
							</article>

						    <article title="indian">
						      <div class="image-content">
						      	<img src="img/image1.jpg"  class="product-image">
						      </div>
							</article>

						    <article title="mola">
						      <div class="image-content">
						      	<img src="img/image2.jpg"  class="product-image">
						      </div>
						  </article>

					</div>
		  </div>

		</section>


</template>