
<head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Celebraciones 2.0</title>
        
        <meta name="description" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- tipografía de google -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
</head>

<template name="masterLayout">
  <!--<div class="line"></div>-->
  <header class="header header--fixed hide-from-print">
   <h1 class="fonthipster">Óscar <span class="petit">&</span> Marta</h1>
	
</header>

  <div id="content">
    {{> yield}}
  </div>

  	<footer>
 			
	</footer>
</template>