<template name="amigos">
	<div class="container-fluid color_principal">

		<h1 class="center">Los amigos</h1>

		<section id="amigos" class="container ">
			
		  	<div class="row">
				    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">

				    	<img class="img-responsive center imageamigo"  src="img/nayo2.png">


						    	<div class="bloquetexto center">

							    	<p>Marta es mucho más guapa que Óscar, no lo entiendo.</p>

						    	</div>

				    </div>

				    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">

				    	<img class="img-responsive center imageamigo"  src="img/valentina2.png">


						    	<div class="center bloquetexto" >

							    	<p>Marta es mucho más guapa que Óscar, no lo entiendo.</p>

						    	</div>

				    </div>


				    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">

				    	<img class="img-responsive center"  src="img/belen2.png">


						    	<div class="center bloquetexto">

							    	<p>Marta es mucho más guapa que Óscar, no lo entiendo.</p>

						    	</div>

				    </div>


		   	</div>
		</section>
	</div>

</template>