<template name="masthead">
	<div class="masthead masthead-image" data-stellar-background-ratio="0.5">
	<div class="masthead-container" >
		<div id="backgroundimage" class="background-image" ata-stellar-ratio="2">
		</div>
		<h1 class="wegetmarried center fonthand">¡Nos casamos!</h1>
	</div>
	</div>



	<div class="masthead container-fluid color_subprincipal">

		  
		  	<div class="row">


		  			 <div class="col-md-12">
				    	<h2 class="center ">{{novios.fecha}}<span class="font_color_secundario">,</span> {{novios.ubicacion}}<span class="font_color_secundario">.</span></h2>
				    </div>
			</div>
		  
	</div>
</template>